$sansSerif = -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
$monospace = Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif

$mobile = 702px

$yellow = #FAD201  // Traffic yellow
$blue = #4285f4
$umbra = #332F2C
$basalt = #4E5754
$brandColor = $blue
pre
  color: #bd10e0;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-size: 13px;
  line-height: 20px;
  margin 3rem 0
  padding 0
  -webkit-overflow-scrolling: touch;
  white-space: pre;
  overflow: auto;
